.home-body{
  background-image: url(../assets/images/png/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: AppFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: left;
}

h1,
h2,
h3 {
  color: white;
  font-weight: thin;
  text-decoration: none;
}

.Preloader {
  width: 100vw;
  height: 100vh;
  background-color: rgb(45, 45, 45);
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999999999999999999999;
}

.soundBtn{
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-size: cover;
  border: none; 
  border-radius: 100%;
  position: relative;
  transition-duration: 1s;
  opacity: .7;
}

.soundBtn:hover{
  cursor: pointer;
}

/* Estilos scrollbar */
::-webkit-scrollbar {
  width: 10px; /* ancho barra */
  height: 100%;
  position: absolute;
  }
::-webkit-scrollbar-track {
  background: #171717; /* color fondo barra */
  }
::-webkit-scrollbar-thumb {
  background: #fff2; /* color barra */
  border-radius: 10px; /* borde barra */
  }
::-webkit-scrollbar-thumb:hover {
  background: #fff4; /* color barra hover */
  }

.App {
  text-align: center;
}

li{
  list-style: none;
  list-style-type: none;
}

ul{
  margin: 0px;
  padding: 0px;
}

.icon {
  width: 70px;
  position: relative;
  opacity: 0.7;
  transition-duration: 0.5s;
}

.icon:hover {
  opacity: 1;
  filter: brightness(1.2);
  cursor: pointer;
}

.sounds{
  display: none;
}

.enter-body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../assets/images/png/background-div-enter.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: fixed;
}

.options-body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.form-container{
  background-color: rgba(20, 12, 6, 0.89);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px black;
  padding: 4rem;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  width: 50%;
}

#iconBack{
  opacity: 0;
  transition-duration: .4s;
}

.login-body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../assets/images/png/background-div-aventuras.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: fixed;
}

.config-container{
  width: 75%;
  height: 65%;
}

.options-container{
  padding: 0;
  transform: translateY(-100vh);
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container{
  transform: translateY(-100vh);
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gwerh_body{
  background-image: url(../assets/images/png/background-gwerh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.gwerh_player{
  position: absolute;
  bottom: 0px;
  display: none;
  width: 100vw;
}

.gwerh_btn{
  opacity: 0.9;
  align-content: center;
  align-items: center;
  z-index: 0;
}

.gwerh_btn_tales, .gwerh_btn_whoru, .gwerh_btn_quest, .gwerh_btn_contact, .gwerh_btn_opciones{
  position: absolute;
  width: 100px;
  height: 80px;
  right: 50%;
  scale: 0;
  top: 150px;
  opacity: 0;
}

.gwerh_btn_interact, .gwerh_btn_interact_on {
  position: relative;
  width: 100px;
  height: 80px;
  animation-name: Floatingx;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.gwerh_btn_interact_on{
  display: none;
}

.gwerh_btn_interact:hover, .gwerh_btn_whoru:hover, .gwerh_btn_interact_on:hover, .gwerh_btn_tales:hover, .gwerh_btn_quest:hover, .gwerh_btn_contact:hover, .gwerh_btn_opciones:hover{
  opacity: 1;
  transition-duration: 1s;
  cursor: pointer;
}

.gwerh_btn_interact, .gwerh_btn_interact_on{
  margin-left: 50%;
}

.lista{
  float: left;
  position: fixed;
  transform: translate(-300px);
  height: 350px;
  top: 206px;
}

._tales_{
  background-image: url(../assets/images/png/fondo_info.png);
  width: 300px;
  height: 400px;
  bottom: 90px;
  right: 10px;
  position: absolute;
  opacity: 0;
  scale: 0;
  background-color: #00000000;
}

._tales_> p{
  font-size: 30px;
  color: #282c34;
  text-shadow: 0.5px 0.5px 0.5px;
}

.gwerh_cont_interact{
  background-color: #282c34;
  position: absolute;
  right: 50%;
  width: 0px;
  top:135px;
}

.gwerh-title{
  position: absolute;
  left: 20px;
  top: -20px;
  color: #dfdfdf;
  text-shadow: 1px 0.5px 8px  #000000;
}


@keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 5px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 5px);}
    to {-moz-transform: translate(0, -0px);}    
}

@keyframes Floatingx2{
    from {-webkit-transform:translate(0, 0px);}
    45% {-webkit-transform:translate(0, 8px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@keyframes Floating2{
    from {-moz-transform:translate(0, 0px);}
    45% {-moz-transform:translate(0, 8px);}
    to {-moz-transform: translate(0, -0px);}    
}

@keyframes Floatingx3{
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(2px, 4px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@keyframes Floating3{
    from {-moz-transform:translate(0, 0px);}
    50% {-moz-transform:translate(2px, 4px);}
    to {-moz-transform: translate(0, -0px);}    
}
