.in{
    width: 250px;
    height: 30px;
    font-family: 'AppFont';
    color: rgba(255, 255, 255);
    border-radius: 40%;
    font-weight: 400;
    font-size: 20px;
    background-color: black;
    background-image: url(../../../design/btn-entrar.png);
    background-position: center;
    text-shadow: 2px 2px #000000a0;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    z-index: 999;
    margin-top: 100px; 
    position: relative;
}
.opt{
    width: 250px;
    height: 30px;
    font-family: 'AppFont';
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 2px 2px #000000a0;
    background-image: url(../../../design/btn-entrar.png);
    background-position: center;
    border-color: rgb(255, 255, 255);
    border-radius: 40%;
    margin-top: 30px;

}
.opt:hover {
    background-image: url(../../../design/btn-entrar-hover.png);
    cursor: pointer;
    transition-duration: 0.4s;
    filter: brightness(1.05);
    scale: 1.01;    
}

.in:hover{
    background-image: url(../../../design/btn-entrar-hover.png);
    cursor: pointer;
    transition-duration: 0.4s;
    filter: brightness(1.05);
    scale: 1.01;
}

.title{
    width: 500px;
    z-index: 9999999999999;
    animation-name: flash;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.lotr{
    width: 250px;
    z-index: 0;
    animation-name: rot;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes rot {
    0%   {transform: rotate(0deg); scale: 1; opacity: 1;}
    25%  {opacity: 0.5;}
    50%  {scale: 1.5; opacity: 1;}
    75%  {opacity: 0.5;}
    100% {transform: rotate(-360deg); scale: 1; opacity: 1;}
}

@keyframes flash {
    0%   {scale: 1;}
    5%   {scale: 1.01;filter:brightness(2)}
    10%  {filter:brightness(1);}
    15%  {scale: 1;filter:brightness(1)}
    35%  {filter:brightness(1);}
    50%  {scale: 0.96;filter:brightness(2)}
    75%  {filter:brightness(1)}
    100% {scale: 1}
}

.div_lotr{
    width: 99vw;
    margin-top: 75px;
    z-index: 0;
}

.div_title{
    width: 99vw;
    margin-top: 25px;
    position: absolute;
    z-index: 999;

}