.enterButton{
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'AppFont';
    color: rgba(255, 255, 255);
    border-radius: 40%;
    font-weight: 400;
    font-size: 30px;
    background-color: black;
    background-image: url(../../../assets/images/png/btn-entrar.png);
    background-position: center;
    text-shadow: 2px 2px #000000a0;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    z-index: 999;
    margin-top: 100px; 
    position: relative;
    transition-duration: .4s;
}

.enterButton:hover{
    background-image: url(../../../assets/images/png/btn-entrar-hover.png);
    cursor: pointer;
    transition-duration: 0.4s;
    filter: brightness(1.05);
    scale: 1.01;
}

.optionButton{
    width: 250px;
    height: 30px;
    font-family: 'AppFont';
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 2px 2px #000000a0;
    background-image: url(../../../assets/images/png/btn-entrar.png);
    background-position: center;
    border-color: rgb(255, 255, 255);
    border-radius: 40%;
    margin-top: 30px;

}

.optionButton:hover {
    background-image: url(../../../assets/images/png/btn-entrar-hover.png);
    cursor: pointer;
    transition-duration: 0.4s;
    filter: brightness(1.05);
    scale: 1.01;    
}


.enterContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
