.configContainer{
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  overflow-y: auto;
}

.configContainer li {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.configContainer input{
  width: 50%;
}

.configContainer input:hover{
  cursor: pointer;
}

.volumenNumber{
  width: 50px;
  display: flex;
  justify-content: center;
}